.actions-container {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 76, 255, 0.091);
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.action-btn {
  position: relative;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.action-icon {
  height: 20px;
  width: 20px;
}

.action-icon:hover {
    height: 24px;
    width: 24px;
  }

.button-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  color: rgba(0, 76, 255, 0);
  font-size: 0.8rem;
}

.action-btn:hover .button-text {
  color: rgb(54, 53, 53);
  font-size: 0.8rem;
  margin-bottom: -30px;
}
